:root {--orange: #ff9f59;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background-color: #312b47;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
}

.grid {
  display: grid;
}

main#profile .grid img {
  grid-row-start: 1;
  grid-row-end: 9;
}

main#profile .grid {
  padding: 10px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

@font-face
{
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf');
}

@font-face
{
    font-family: 'Whitney';
    src: url('../font/Whitney-Bold.ttf');
}

*
{
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Whitney';
  margin-bottom: 10px;
}

a 
{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

a:hover
{
  text-shadow: 0px 0px 15px var(--orange), 0px 0px 10px var(--orange);
}

.nav-header
{
    background-color: #e86100;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
}

.nav-header, footer
{
    height: 64px;
    display: flex;
    align-items: center;
}



footer
{
    background-color: #000000;
}

nav
{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav button
{
    background: none;
    border: none;
    cursor: pointer;
}

#nav-menu-img, #nav-fav-img { fill: white; }

.nav-user-img 
{
  border-radius: 50%;
  border: 1px solid white;
}

.nav-user-img.noirBlanc
{
    filter: invert(98%) sepia(100%) saturate(20%) hue-rotate(208deg) brightness(104%) contrast(100%);
}

.nav-header-right 
{
  display: grid;
  column-gap: 10px;
}

.nav-header a, .nav-header-left, .nav-header-right, #nav-menu-btn
{
    display: flex;
    align-items: center;
}

.nav-buttons ul
{
    padding: 0;
    list-style-type: none;
    width: 100%
}

.nav-buttons li
{
    width: 100%
}

.nav-buttons
{
    display: flex;
    flex-direction: row;
}

.nav-buttons li a
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 56px;
    color: white;
}

.nav-buttons ul li:nth-of-type(even) a:hover,
.nav-buttons ul li:nth-of-type(odd) a:hover
{
    background-color: #ff8025;
}

.nav-buttons ul li:nth-of-type(even) a
{
    background-color: rgb(17, 99, 188);
}

.nav-buttons ul li:nth-of-type(odd) a
{
    background-color: rgb(28, 106, 189);
}

.ArticlePort { margin-top: 4%; }

.artPortDiv { 
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.artBtn a, #favoriteForm {
  margin: 0 2% 2% 2%;
}

.artBtn { justify-content: center; }

body
{
  background-image: url('../img/bg/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main
{
    position: absolute;
    min-width: 100%;
    top: 64px;
    color: white;
    padding: 0 2%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: center;
}
.error{
    color:#FE0A0A;
}
#register{
    width: 70%;
    margin: auto;
    color: #fff;
}

#register p{
    font-style: italic;
    text-align: center;
}

#register .message-register h3{
    text-align: center;
    font-size: 30px;
}

#register .message-register p{
    text-align: center;
    font-size: 15px;
}

#register h3{
    text-align: center;
    color: #fff;
    font-size:40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#register label{
    display: inline-block;
    width: 100%;
    color: #fff;
}

#register button{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #e86100;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    border: none;
}

#register .register-input{
    width: 100%;
    height: 40px;
}

#login{
    width: 70%;
    margin: auto;
    color: #fff;
}

#login h3{
    text-align: center;
    color: #fff;
    font-size:40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#login p{
    text-align: center;
    font-style: italic;
}

#login label{
    display: inline-block;
    width: 100%;
    color: #fff;
}

#login button{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #e86100;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    border: none;
}

#login .login-input{
    width: 100%;
    height: 40px;
}

body
{
    background-color: rgb(36, 36, 36);
    color: white;
    position: relative;
}

.none { display: none; }

.center { text-align: center; }

.flex { display: flex; }

.titleIndex { margin: 9% 0 5%; }

#nav-fav-btn{ margin-right: 0.5rem; }

.bold { font-weight: 700; }

.mob-hidden { display: none; }

.part2-Index {
    margin-top: 22%;
    padding: 2%;
    background-color: rgb(89, 87, 87);
    border-radius: 10px;
}

.part2-Index h2 { margin: 3%; }

.part2-Index a { width: 40%; }

.part2-Index img{
    width: 100%;
    border-radius: 2%;
    margin-bottom: 2%;
    cursor: pointer;
}

.part2-Index > div {
    margin: 3% 0;
    padding: 6%;
    background-color: rgba(48, 44, 44, 0.845);
    border-radius: 15px;
}

.titleArticle { margin: 4% 0 3% }

.containerArticle{
    display: block;
    text-align: center;
    margin: 2%;
    padding: 6% 2% 5% 2%;
    border-radius: 20px;
    background-color: rgb(89, 87, 87);
    gap: 1rem;
}

.containerArticle h2 { font-size: 200%; }

.containerArticle img { 
    width: 80%; 
    margin-bottom: 4%;
}

.grid3C { 
    display: block; 
    line-height: 2.5;
    margin-top: 6%;
}

.grid3C p{
    font-size: 18px;
}

p.message 
{
  text-align: center;
  margin: 10px 0px;
}

.grid 
{
  display: grid;
}

main#profile 
{
    padding: 15px;
}

main#profile
{
  width: 100%;
}

main#profile form 
{
  width: 80%;
  margin: auto;
}

main#profile .grid img 
{
  max-width: 100%;
  max-height: 300px;
  margin: auto;
}

main#profile .grid
{
  row-gap: 10px;
}

main#profile form .grid 
{
  grid-template-columns: 1fr;
  padding: 10px;
}

main#profile #changeMdpBox, #portModelesPopup
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main#profile #changeMdpBox > div, #portModelesPopup > #listeModeleDiv
{
  background-color: black;
  border-radius: 20px;
  padding: 30px;

  box-shadow: 0 0 25px 0 var(--orange),
              0 0 80px gray inset;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  max-height: 80vh;
  overflow: auto;
}

main#profile .button 
{
  width: 70%;
}

.button
{
  cursor: pointer;
  border: 1px solid white;
  background-color: #000000;
  padding: 10px 0px;
  border-radius: 15px;
  text-align: center;
  color: white;
  margin-top: 30px;
  display: block;
  width: 50%;
  margin: 15px auto;
}

main#evaluations h1
{
  text-align: center;
}

main#evaluations > div
{
  width: 80%;
  margin: auto;
  padding: 20px;
}

.evaluation 
{
  border: 1px dotted white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0px;
}

.evaluation h3 
{
  color: var(--orange);
}

.button:hover, #addFavorite:hover
{
  color: var(--orange);
  background: linear-gradient(#000000, #3f3f3f);
}

.hidden
{
  display: none !important;
}

main#port
{
  padding: 20px;
  width: 100%;
}

main#port .grid 
{
  text-align: center;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

div.portDiv 
{
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  transition: all .5s;
}
  
div.portDiv:hover
{
  transform: scale(1.2);
  border: 1px solid var(--orange);
  box-shadow: 5px 5px 10px turquoise;
}

#portModelesPopup ul
{
  text-align: center;
  width: 50%;
  margin: auto;
}

/*Début du bloc de Joel*/
#register{
  width: 70%;
  margin: auto;
  color: #fff;
}

#register p{
  font-style: italic;
  text-align: center;
}

#register .message-register h3{
  text-align: center;
  font-size: 30px;
}

#register .message-register p{
  text-align: center;
  font-size: 15px;
}

#register h3{
  text-align: center;
  color: #fff;
  font-size:40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#register label{
  display: inline-block;
  width: 100%;
  color: #fff;
}

#register button{
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: #e86100;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  border: none;
}

#register .register-input{
  width: 100%;
  height: 40px;
}

#login{
  width: 70%;
  margin: auto;
  color: #fff;
}

#login h3{
  text-align: center;
  color: #fff;
  font-size:40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#login p{
  text-align: center;
  font-style: italic;
}

#login label{
  display: inline-block;
  width: 100%;
  color: #fff;
}

#login button{
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: #e86100;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  border: none;
}

#login .login-input{
  width: 100%;
  height: 40px;
}


main .search{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

main .search button{
  text-align: center;
  background-color: #e86100;
  padding: 10px;
  color: #fff;
  border: none;
}

main .recherche{
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

body
{
  background-color: rgb(36, 36, 36);
  color: white;
  position: relative;
}

main .search{
  font-style: italic;
  padding: 10px;
} 

main .search input{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}



main .container-television .accordion .accordion-item aside h2{
  font-size: 20px;
}

main .container-television{
  width: 100%;
}

main .container-television aside{
  width: 100%;
  margin-bottom: 20px;
}

main .container .container-television aside a{
  width: 100%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

main .marque{
  overflow: hidden;
  text-align: center;

  margin-bottom: 20px;
  padding: 10px;
  display: flex;
}

main .marque a{
 text-decoration: none;
 width: 50%;
 color: #fff;
}

main .accordion .accordion-header button{
  background-color: #000000;
  color: #fff;
  border: 1px solid #000;
}

main .accordion .accordion-header button:active{
  border: 1px solid #000;
}

main .accordion .accordion-item{
  /*background-color: rgb(36, 36, 36);*/
  background-color: #000000;
  border: 1px solid #000;
  color: #fff;
}

main .accordion .accordion-item a{
  color: #fff;

}

main section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom : 20px;
  padding-bottom: 20px;
}

main section img{
  width: 100%;
}

main .container-television section img{
  width: 100%;
  height: 100%;
}

main .container-television section{
  width: 100%;
  padding: 10px;
}

main .container-television section p{
  width: 100%;
}

main .container-television a{
  display: block;
  width: 100%;
  height: 50px;
  background-color: #e86100;
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-bottom : 20px;
  text-decoration: none;
  padding: 10px;
}

.voirplus{
  width: 100%;
  height: 100%;
  background-color: #e86100;
  text-decoration: none;
  color:#fff;
  text-align: center;
  padding: 20px;
}

.voirplus a{
  text-decoration: #fff;
  color: #fff;
}

main .container-television .desktop{
  display:none;
}

/*Fin du bloc joel*/

/* Hicham */
.favori img
{
    width: 280px;
    margin: 16px auto;
    object-fit: cover;
}

.favori-row
{
    display: flex;
    flex-direction: column;
}

.favori-buttons
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.favori-buttons a
{
    width: 50%;
    display: block;
    text-decoration: none;
    padding: 12px 40px;
    color: white;
    text-align: center;
}

.favori-buttons a:first-of-type
{
    background-color: rgb(28, 106, 189);
}

.favori-buttons a:last-of-type
{
    margin-left: 16px;
    background-color: rgb(184, 48, 48);
}

.favori-details
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
}

.favori
{
    background-color: white;
    margin: 0 auto 48px auto;
    max-width: 550px;
    padding: 16px;
    border-radius: 8px;
    color: black;
}

.modele
{
    margin-bottom: 16px;
}

.page-title
{
    text-align: center;
    font-size: 1.5em;
    padding: 64px 0;
}

#marques
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 480px;
    margin: auto;
}

#marques .marque
{
    display: block;
    width: 480px;
    height: 240px;
    object-fit: cover;
    margin-bottom: 24px;
}

#marques .marque img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Responsive */
@media only screen and (min-width: 968px) {
  /* General */
  main { padding: 0; }
  .mob-hidden { display: block; }

  /* Index */
  .titleIndex { font-size: 48px; }
  .ssIndex{ font-size: 26px; }
  .part2-Index > div {
      display: flex;
      padding: 2%;
      font-size: 125%;
      align-items: center;
  }
  .part2-Index > div div {
      text-align: left;
      line-height: 2;
      margin-left: 2%;
  }
  .part2-Index h2 {
      margin: 0;
      font-size: 250%;
  }
  .part2-Index img { margin: 0; }

  /* Article */
  .titleArticle { font-size: 36px; }
  .containerArticle {
      display: flex; 
      padding: 2%;
      
  }
  .containerArticle img { 
      width: 50%;
      margin-bottom: 0;
      object-fit: contain;
  }

  .containerArticle h2 {
      background-color: #403e44;
      border-radius: 5px;
      padding: 10px;
      margin-top: 1%;
  }

  .containerArticle > div { width: 50%; }
  
  .grid3C {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 2%;
      line-height: 3;
  }

  .grid3C p { font-size: 120%; }

  /* Seriously??????? */
  #register{
      width: 40%;
      margin: auto;
      color: #fff;
      margin-bottom : 20px;
      margin-top: 20px;
  }

  #login{
      width: 40%;
      margin: auto;
      color: #fff;
      margin-bottom : 20px;
      margin-top: 20px;
  }

  main#profile form .grid img {
    grid-row-start: 1;
    grid-row-end: 5;
  }

  main#profile .myProfile .grid img {
    grid-row-end: 6;
  }

  main#profile .myProfile.modifying .grid img {
    grid-row-end: 7;
  }

  main#profile form:first-of-type .grid {
    grid-template-columns: 25% 37.5% 37.5%;
    column-gap: 15px;
  }

  main#profile #changeMdpBox .grid input, main#profile #changeMdpBox .grid label {
    grid-template-columns: 1fr 1fr;
    grid-column: span 1;
  }

  main#profile form:first-of-type .button {
    width: 500px;
  }

  main#evaluations .grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  main#evaluations .grid h1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  main#port .grid 
  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

      /* Section Joel*/

      #register{
        width: 40%;
        margin: auto;
        color: #fff;
        margin-bottom : 20px;
        margin-top: 20px;
    }

    #login{
        width: 40%;
        margin: auto;
        color: #fff;
        margin-bottom : 20px;
        margin-top: 20px;
    }

        
    main .search{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        font-style: italic;

    }

    main .search div{
        margin: 10px;
    }

    main .search input{
        width: 400px;
    }

    main .recherche{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: auto;
    }


    main header, footer{
        text-align: center;
    }


    .container-television{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        padding: 10px;
    }

    main .container-television aside{
        width: 20%;
    }

    main .accordion .accordion-header button{
        background-color: rgb(36, 36, 36);
        color: #fff;
        border: 1px solid #000;
    }
    
    main .accordion .accordion-header button:active{
        border: 1px solid #000;
    }
    
    main .accordion .accordion-item{
        background-color: rgb(36, 36, 36);
        border: 1px solid #000;
        color: #fff;
        border: 1px solid #000;
    }
    
    main .accordion-body a{
        color: #fff;
        background-color:rgb(36, 36, 36);
        width: 100%;
        text-align: center;
    }

    main .container-television aside a{
        text-decoration: none;
        width: 50%;
        color: #000;
        margin-bottom: 20px;
    }

    main .container-television section{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        width: 80%;
        padding: 10px;
    }

    main .container-television section div{
        width: 100%;
        padding: 10px;
    }

    main .container-television section img{
        width: 300px;
        height: 180px;
    }

    main aside{
        display:none;
    }

    main .container-television section div a{
        width: 100%;
        text-align: center;
    }

    .voirplus{
        float: right;
        width: 20%;
    }

    main .accordion{
        display: none;
    }

    main .container-television .desktop{
        display:inline;
        width: 20%;
        border-right: 1px solid #fff;
        text-align: center;
    }

    main .container-television .desktop h6{
        text-decoration:underline;
    }

    main .container-television .desktop ul li{
        background-color: none;
        list-style: none;

    }

    main .container-television .desktop a{
        text-decoration: none;
        padding: 10px;
        text-align:right;
        background-color:rgb(36, 36, 36);
        display:inline-block;
     }

    
    /*Fin section Joel*/

    /* Nav (Hicham) */

    .nav-buttons
    {
      display: block;
      position: sticky;
      top: 0;
    }

    nav ul
    {
      display: flex;
    }

    main
    {
      top: 120px;
    }

    #nav-menu-btn
    {
      display: none;
    }

    /* Marques (Hicham) */
    #marques
    {
      width: 800px;
    }

    #marques .marque
    {
      width: 50%;
    }
}

/* Big Screen */
@media only screen and (min-width: 1600px) {
    /* General */
    
    /* Index */
    .part2-Index > div div { line-height: 3; }

    /* Article */
    .grid3C { line-height: 6.5; }

    #marques
    {
      width: 1400px;
    }

    #marques .marque
    {
      width: 33.3%;
    }
}

#favoriteForm {
  width: 50%;
  margin-right: 2%;
}

#addFavorite{
  background-color: #000;
  color: #fff;
  outline: 1px solid #ccc;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  text-decoration: underline;
}