:root {--orange: #ff9f59;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
}

main#profile .grid img {
  grid-row-start: 1;
  grid-row-end: 9;
}

main#profile .grid {
  padding: 10px;
  width: 100%;
  grid-template-columns: 50% 50%;
}